$feature-flags: (
  components-x: true,
  ui-shell: true
);
@import "~carbon-components/src/globals/scss/styles.scss";

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

.bx--row {
  display:block;
}
.bx--content {
  padding: 0px;
}

.pattern-container {
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bx--btn {
  border-radius: 0.25rem;
}

.bx--tile {
  border-radius: 0.5rem;
}

.location-row {
  display: flex;
}
.location-input{
  border-style: solid;
  border-color: grey;
  border-width: 0.05rem;
  width: 90%;
}

.quantity-row {
  display: flex;
}
